<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
  <head>
    <title>Welcome</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <link rel="stylesheet" href="styles.css">
  </head>
  <body>
    <main>
      <p>Enter Your Name Bellow</p>
      <section class="userNameInputSectionClass">
        <input type="text" class="userNameInputClass">
        <button onclick="signIn()">Sign In</button>
      </section>
    </main>
    <footer>
      <script src="/main.js"></script>
    </footer>
  </body>
</html>